In [2]:
import builtins
# Get a list of all built-in  types, exceptions, functions

functions = dir(builtins)
# Print the list 

# print(functions)

built_in_functions = [func for func in functions if type(getattr(builtins, func)) == type(print)]

built_in_functions

['__build_class__',
 '__import__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'breakpoint',
 'callable',
 'chr',
 'compile',
 'delattr',
 'dir',
 'divmod',
 'eval',
 'exec',
 'format',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'hex',
 'id',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'locals',
 'max',
 'min',
 'next',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'repr',
 'round',
 'setattr',
 'sorted',
 'sum',
 'vars']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
i = 0
for j in range(0,11):
    i+=5
    print(i)

5
10
15
20
25
30
35
40
45
50
55

In [10]:
num = 0

for i in range(1,11):

    num+=5

    print('5 * {} = {}'.format(i,num))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
#expected output [0,1,1,2,3,5,8,13]
f=[0,1]
for i in range (1,11):
    f.append(f[i] + f[i-1])
f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
a=int(input())
b=int(input())
if a>b:
    print(a, " is greater than ", b)

2
1
2  is greater than  1

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to check whether a number is divisible by 7 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [40]:
i = int(input())
if i%7==0:
        print(i, " is divisible by7")
else:
    print(i, "i is not divisible by 7")

7
7  is divisible by7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [65]:
a = int(input())
b=1
if a==0:
    print("a factorial is 1")
elif a>0:
    for i in range(1, a+1):
        b*=i
    print(b)
else:
    print('error')

3
6

In [59]:
# type your code here

num = int(input("Enter a number: "))

fact = 1

if num == 0:

    print(f'Factorial of {num} is 1')

elif num > 0:

    for i in range(1,num+1):

        fact = fact * i

    print(fact)

else:

    print("Factorial doesn't exist")

Enter a number: 6
720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
a = int(input('enter the number: '))

for i in range(2,a):

    if a%i==0:

        print(a ,'not a prime')

        break
else:

        print(a,'prime')

enter the number: 4
4 not a prime

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [61]:
# type your code here

num1=int(input('Enter the first number : '))

num2=int(input('Enter the second number : '))

 

sum_factors_num1=0

sum_factors_num2=0

 

# sum of factors of 1st number

for i in range(1,num1):

    if num1%i==0:

        sum_factors_num1+=i

        

# sum of factors        

for j in range(1,num2):

    if num2%j==0:

        sum_factors_num2 +=j

        

# Check if the sum of proper divisors of one number is equal to the other number, and vice versa.

if(sum_factors_num1== num2 and sum_factors_num2==num1):

    print("The numbers", num1,"and",num2 ,"are amicable!")

else:

    print("The numbers", num1,"and",num2 ,"are not amicable!")

Enter the first number : 748
Enter the second number : 73
The numbers 748 and 73 are not amicable!

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [62]:
s = "India"

list(range(len(s)-1   ,-1 ,-1))

for  x  in range(len(s)-1   ,-1 ,-1):

    print(s[x])

a
i
d
n
I

In [ ]:
s = "India"

list(range(len(s)-1   ,-1 ,-1))

for  x  in range(len(s)-1   ,-1 ,-1):

    print(s[x])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
radius = 4.7
area = (3.14)*(radius**2)
print(area, "unit square")

69.36260000000001 unit square

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
principal=float(input())
rate=floatIinput()
time=float(input())
simple_interest = (principal * rate * time)/100
print(simple_interest)

In [ ]:
# type your code here

# type your code here

principal = float(input("Enter the principal amount: "))

rate = float(input("Enter the interest rate: "))

time = float(input("Enter the time period in years: "))

 
simple_interest = (principal * rate * time) / 100

print("The simple interest is:", simple_interest)

<a id= "lc"> </a>
## 2. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use list comprehension to obtain the squre root of first 10 natural numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [75]:
# type your code here

# to find square root

my_list1 = [x**0.5 for x in range(1,10)]

print(my_list1)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [76]:
string1=input("Enter any string ")

lst=[i for i in string1.lower() if i in "aeiou"]

print(lst)

Enter any string latika
['a', 'i', 'a']

In [ ]:
#you can create set in the list to avoid duplicate data

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [77]:
# type your code here 

students_data = {1:['Aman', 24] , 2:['Mohit',25], 3:['Gauri', 26], 4:['Imran',24], 5:['Roma',27]}

students_data

{1: ['Aman', 24],
 2: ['Mohit', 25],
 3: ['Gauri', 26],
 4: ['Imran', 24],
 5: ['Roma', 27]}

In [78]:
students_data.items()

dict_items([(1, ['Aman', 24]), (2, ['Mohit', 25]), (3, ['Gauri', 26]), (4, ['Imran', 24]), (5, ['Roma', 27])])

In [79]:
{ x:y   for   x,y  in students_data.items()   if x%2==0 }

{2: ['Mohit', 25], 4: ['Imran', 24]}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Use list comprehension to find even and odd numbers from first 20 whole numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here

even_num = [ i  for i in range(1,21)    if(i%2==0)]

odd_num = [ i for i in range(1,21)    if(i%2!=0)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [85]:
[a for a in range(1,101) if a%2==0 and a%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [82]:
[ i for i in range(1,101) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [86]:
[i:i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [87]:
s = "abc 34 23 hi"

[i  for i in s   if i.isdigit()]

['3', '4', '2', '3']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Use list comprehension to print table of 11 to 20 as shown below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [88]:
# type your code here

[    [i*j      for j in range(1,11) ]           for i in range(11,21) ]

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Use list comprehension to find transpose of the matrix given below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

In [1]:
# type your code here

matrix = [[1, 2], [3,4], [5,6], [7,8]]

(matrix)
 

# transpose = [     [row[i] for row in matrix]       for i in range(len(matrix[0]))]

transpose = [     [row[i]    for row in matrix  ]       for i in range(2)]

transpose
 

# row[i] represents the elements in the i-th column of the original matrix.

# for row in matrix iterates through each row of the original matrix.

# for i in range(len(matrix[0])) iterates through the indices of the columns in the original matrix.

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21.  Assume a mother playing a "word guessing game  2 times" with children. She chooses 8 words relating to recent conversation  and write sets of clues to help students. Condition that children should not use same word again. children get 5 chances to guess the four letters word given below.
 
 Create a word set=["milk", "race", "rice", "race", "hide", "tree","jump","bike"] 
 
 like and take user input display like "Let's play a word guessing game . The word has 4 letters in it. You get 5 guesses. Guess a letter " if you guess correct 2 time it will display. If children found answer with 2 option display wow
 
 Great Guess! for 1st time
 
 Great Guess! for 2nd time
 
 Thanks for playing! you won!
 
 
 Exiting
 
 If your guess wrongly your code will ask 5 times to guess the word as shown in the below example
 
 Sorry, try again. was
 
 Sorry, try again. the
 
 Sorry, try again. are
 
 Sorry, try again. the
 
 Sorry, try again. are
 
 if you did not find 2 option it return you lose.
 
 
 make sure that program takes only smaller case values..</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Define the list of words for the game.

set_of_words = ["milk", "race", "rice", "race", "hide", "tree", "jump", "bike"]

 

# Initialize a variable to keep track of the correct guesses.

count = 0

 

# Start a loop that allows the player 5 guesses.

for i in range(5):

    # Ask the player for a word guess, and convert it to lowercase for case-insensitivity.

    word = input("Guess a word: ").lower()

 

    # Check if the guessed word is in the list of words.

    if word in set_of_words:

        print("Great Guess! for", count + 1, 'time')

        count += 1

    else:

        print("Wrong guess")

# Check if the player has made 3 correct guesses (count == 2).

    if count == 2:

        print('Thank you for playing! You won!')

        break

 

    # Check if it's the second iteration (i == 1) and the player has already won (count == 2).

    if i == 1 and count == 2:

        print("wow")

 

    # Check if it's the fourth iteration (i == 3) and the player has not guessed correctly yet (count == 0).

    if i == 3 and count == 0:

        print('You lost the game')

        break

 

# Check if the player has made no correct guesses (count == 0) and it's the last iteration (i == 4).

if count == 0 and i == 4:

    print('You lost the game')

Guess a word: 8
Wrong guess