<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> In-class Lab <br> (Week1) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[Pseudo Codes](#pseudo)**
2. **[String](#string)**
3. **[List](#list)**
4. **[Tuple](#tuple)**
5. **[Set](#set)**
6. **[Dictionary](#dict)**
7. **[Conditional Statements](#cond)**

### Let's begin with some hands-on practice exercises

<a id="pseudo"> </a>
## 1. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# pseudo code 
 

set total = 0 

for i in 1 to 10,

 do total = total + 5 

 print total

#expected ouptut 5, 10, 15, 20, 25, 30

# ** ADDITIONAL CODE **#

# Type your code here

# The for loop is used to repeat a section of code known number of times.

 

total = 0

for i in range(1,11):

    total = total + 5

    print(total)

 

    

# for i in range(1,11)     >>>>>   for i in [1,2,3,4,5,6,7,8,9,10]

#    total = total + 5     >>>>>   when i = 1  , total = 0   , total = total + 5 , total  = 0+ 5 , total = 5

#                          >>>>>   when i = 2  , total = 5   , total = total + 5 , total  = 5+ 5 , total = 10

#                          >>>>>   when i = 3  , total = 10   , total = total + 5 , total  = 10+ 5 , total = 15... and so on

In [14]:
total = 0

for i in range(1,11):

    total = total + 5

    print(total)

5
10
15
20
25
30
35
40
45
50

In [15]:
for i in range(1,11):

    print(5 * i)

5
10
15
20
25
30
35
40
45
50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Type your code here

# Pseudo code

 

Set variables:

    a = 0  # Initialize the first Fibonacci number

    b = 1  # Initialize the second Fibonacci number

    count = 0  # Initialize a counter to keep track of the number of values generated

 

While count < 10:

    # Print the current Fibonacci number

    Print a

 

    # Calculate the next Fibonacci number

    next_fibonacci = a + b

 

    # Update the values of a and b for the next iteration

    a = b

    b = next_fibonacci

 

    # Increment the counter

    count = count + 1

End While

In [16]:
# Initialize the first two Fibonacci numbers

a, b = 0, 1

 

# Initialize a counter to keep track of the number of values generated

count = 0

 

# Define the number of values to generate

n = 10

 

# Use a while loop to generate the Fibonacci series

while count < n:

    # Print the current Fibonacci number

    print(a)

 

    # Calculate the next Fibonacci number

    next_fibonacci = a + b

 

    # Update the values of a and b for the next iteration

    a = b

    b = next_fibonacci

 

    # Increment the counter

    count += 1

0
1
1
2
3
5
8
13
21
34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num = number entered by the user

if num modulo 7 == 0

    print the number is divisible by 7

else print the number is not divisible by 7

In [20]:
i==14
if i%7 ==0:
    print("The number is divisble by 7")
else:
    print("The number is not divisble by 7")

The number is not divisble by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
# Get the number from the user

number = int(input("Enter a number: "))

 

# Initialize the factorial to 1

fact = 1

 

# Check if the number is negative

if number < 0:

    print("Factorial does not exist for negative numbers.")

elif number == 0:

    print("The factorial of 0 is 1.")

else:

    # Calculate the factorial using a for loop

    for i in range(1, number + 1):

        fact *= i

 

    # Print the result

    print(f"The factorial of {number} is {fact}")

Enter a number: 6
The factorial of 6 is 720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

1. Get the number from the user and store it in a variable 'num'.

2. Initialize a boolean variable 'is_prime' to True.

3. If 'num' is less than or equal to 1, set 'is_prime' to False.

4. If 'num' is greater than 1, do the following:

   4.1. Start a 'for' loop with a loop variable 'i' from 2 to the  'num' (inclusive).

   4.2. In each iteration, check if 'num' is divisible by 'i' (i.e., 'num' % 'i' == 0).

   4.3. If 'num' is divisible by 'i', set 'is_prime' to False and break out of the loop.

5. If 'is_prime' is True, print "The number is prime."

6. If 'is_prime' is False, print "The number is not prime."

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

a =  take user input for first number

b =  take user input for second number

check if a > b then

  print("a is greater than b")

else 

  print("a is less than b")

In [25]:
a ==input("the value of a")
b ==input("the value of b")
if a>b:
    print("a is greater than b")
else:
    print("a is less then b")

the value of a2
the value of b3
a is less then b

<a id="string"></a>
## 2. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [35]:
country ="India"
print(len(country))
print(country[:2])

5
In

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [54]:
# type your code here

# 1. Write a code to get 'Today' and 'sunny'.

statement  = 'Today is a sunny day'

 

# to print 'Today'

print(statement[0:5])


# to print 'sunny'

print(statement[11:16])

# 2. Obtain the last two letters.

statement[-2:]

# 3. Write the statement backwards.

statement[::-1]

Today
sunny

'yad ynnus a si yadoT'

In [55]:
x="Today is a sunny day"

print(x[0:5],x[11:16])

print(x[-2:])

print(x[::-1])

Today sunny
ay
yad ynnus a si yadoT

In [57]:
statement="Today is a sunny day"
print(statement[-2:])

ay

In [67]:
s ='Python is a nice language'

L= s.split()   #shift TAB

print(L)

print(s[::-1])  #reversing

['Python', 'is', 'a', 'nice', 'language']
egaugnal ecin a si nohtyP

<a id="list"> </a>
## 3. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [70]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

print(len(mix_list_1))

5

In [72]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

print(24 in mix_list_1)

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [73]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

print(mix_list_1 + mix_list_2)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [74]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

mix = mix_list_1 + mix_list_2

print(mix*3)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer', 'Learn', 24, 'Blue', False, -8, 4, 7, 'Summer', 'Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [99]:
# Two lists to multiply element-wise

list1 = [2, 4, 6, 8]

list2 = [1, 3, 5, 7]

 

# Initialize an empty result list

result = []

 

# Check if the lists are of the same length

if len(list1) == len(list2):

    # Multiply corresponding elements and append to the result list

    for i in range(len(list1)):

        result.append(list1[i] * list2[i])

else:

    print("Lists must have the same length for element-wise multiplication.")

 

# Print the result

print(result)

[2, 12, 30, 56]

In [100]:
a = [1,2,3]

b= [10,20,30]

c = [] 

for i in range(len(a)):

    c.append(a[i] * b[i])

    

c

[10, 40, 90]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [76]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

print(mix_list[0])

Python

**b. Second last element**

In [78]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

print(mix_list[-2])

Data

**c. First three elements**

In [79]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

print(mix_list[0:3])

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [81]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[1::2])

[1, 3, True]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12.. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [83]:
num_list = [4, 5, 7, -2, 0, 1]
print(min(num_list))

-2

**b. Max(list)**

In [84]:
# type your code herenum_list = [4, 5, 7, -2, 0, 1]
print(max(num_list))

7

**c. Sort the elements (use sort() and sorted() function)**

In [92]:
num_list = [4, 5, 7, -2, 0, 1]
L=num_list.sort()
print(sorted(num_list))

[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [93]:
num_list = [4, 5, 7, -2, 0, 1]
new_list = num_list.copy()
print(new_list)

[4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [94]:
num_list = [4, 5, 7, -2, 0, 1]
num_list.remove(5)
print(num_list)

[4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13.. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [102]:
languages_list = ['R','Python', 'C', 'Java']

languages_list.append('Data')

print('new_list:', languages_list)

new_list: ['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [105]:
languages_list = ['R','Python', 'C', 'Java']

languages_list.extend(['Data', 'Excel'])

print('new_list:', languages_list)

new_list: ['R', 'Python', 'C', 'Java', 'Data', 'Excel']

**c. Replace an element 'C' with 'C++' in the given list**

In [112]:
# type your code here

languages_list = ['R','Python', 'C', 'Java']

 

# replace 'C' with 'C++'

languages_list[2] = 'C++'

print('new_list:', languages_list)

new_list: ['R', 'Python', 'C++', 'Java']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14.. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [113]:
# type your code here

# given list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

 

# count the number of times 'Summer' occurs in a given list

seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 4. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15.. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [115]:
num_tuple = (4, 4, 8)

len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [116]:
num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

mix = num_tuple + mix_tuple

print(mix)

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [117]:
num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

mix = num_tuple + mix_tuple

print(mix*2)

(4, 4, 8, 'John', 5, -2, 4, 4, 8, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [118]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

mix_tuple = mix_tuple + (4,)

mix_tuple

(['a', 1, True], 2, 'Science', -5, 4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [121]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

mix_tuple[1]=3

print(mix_tuple)

TypeError: 'tuple' object does not support item assignment

**b. Replace 'True' in first element of the tuple with 'False'**

In [123]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple[0][2]=False

print(mix_tuple)

(['a', 1, False], 2, 'Science', -5)

<a id="set"> </a>
## 5. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [ ]:
# type your code here

num_set = {1, 2, 3, 4, 5, 6}

 

# add() adds a new element to the set

num_set.add(7)

print('updated set:', num_set)

**b. Remove '3' from a given set**

In [ ]:
# type your code here

num_set = {1, 2, 3, 4, 5, 6}

 

# remove() returns the set after removal of the element

num_set.remove(3)

print('updated set:', num_set)

**c. Clear the set**

In [124]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.clear()
print(num_set)

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [125]:
# type your code here

sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Specifically, python for data science'

 

# create a set of words

sen_1_words = set(sentence_1.split())

sen_2_words = set(sentence_2.split())

{'We', 'analyse', 'data', 'python', 'shall', 'the', 'using'}

**a. Find the number of unique words in the sentences**

In [126]:
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Specifically, python for data science'

 

# create a set of words

sen_1_words = set(sentence_1.split())

sen_2_words = set(sentence_2.split())

sen_1_words

no_of_unique_words_in_sentence1 = len(sen_1_words)

print('Number of unique words in 1st sentence:', no_of_unique_words_in_sentence1)

 

# number of unique words in sentence_2

no_of_unique_words_in_sentence2 = len(sen_2_words)

print('Number of unique words in 2nd sentence:', no_of_unique_words_in_sentence2)

Number of unique words in 1st sentence: 7
Number of unique words in 2nd sentence: 5

**b. Find the common words in both the sentences**

In [128]:
# type your code here

# intersection() returns common elements in the sets

common_words = sen_1_words.intersection(sen_2_words)

print('The common words between the two sentences:', common_words)

The common words between the two sentences: {'data', 'python'}

**c. Find the unique words in both the sentences**

In [129]:
# type your code here

# union() returns all elements in the sets

# it returns the common elements only once

unique_words = sen_1_words.union(sen_2_words)

print('Unique words in both the sentences:', unique_words)

Unique words in both the sentences: {'science', 'shall', 'data', 'Specifically,', 'using', 'the', 'python', 'for', 'We', 'analyse'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20.. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [130]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

unique_elements = A.union(B)

print(unique_elements)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [131]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

 

# take the intersection of two sets

Intersection = A.intersection(B)

print('Intersection of A and B:', Intersection)

Intersection of A and B: {3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [132]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

 

# 'A.difference(B)' give elements in A not in B

Difference1 = A.difference(B)

print('Difference1 :', Difference1)

print('A-B:',A-B)

Difference1 : {1, 2, 4, 71, 40, 87}
A-B: {1, 2, 4, 71, 40, 87}

**d. Set of all the elements of set B that are not in set A**

In [133]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

 

# 'A.difference(B)' give elements in A not in B

Difference1 = B.difference(A)

print('Difference1 :', Difference1)

print('B-A:',B-A)

Difference1 : {8, 42, 51, 54}
B-A: {8, 42, 51, 54}

**e. Symmetric difference**

In [134]:
# type your code here

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

 

# Symmetric_difference is a union of 'A-B' abd 'B-A'

Symmetric_difference = A.symmetric_difference(B)

print('Symmetric_difference between A and B:', Symmetric_difference)

Symmetric_difference between A and B: {1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

<a id="dict"> </a>
## 6. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a code to add a key to a dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [135]:
# type your code here

square_dictionary = {1:1, 2:4, 3:9}

 

# add a key using 'update()'

square_dictionary.update({4:16})

print('updated dictionary:', square_dictionary)

updated dictionary: {1: 1, 2: 4, 3: 9, 4: 16}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write a program to retrieve the keys/values of dictionary </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [136]:
# type your code here

mix_dictionary = {0:3, 'x':5, 1:2}

 

# keys() returns the keys in the dictionary

print('Keys:', mix_dictionary.keys())

 

# values() returns the corresponding values of the keys

print('Values:', mix_dictionary.values())

Keys: dict_keys([0, 'x', 1])
Values: dict_values([3, 5, 2])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Write a program to get the value for 'Age' from the dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [137]:
# type your code here

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

 

# print the age 

print(emp_record['Age'])

27

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to create a dictionary using given keys and values</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the keys and values to create a dictionary**

key = ['a','b','c','d']

value = [1, 2, 3, 4]

In [138]:
key = ['a','b','c','d']

value = [1, 2, 3, 4]

dictionary = dict(zip(key, value))

print(dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25.. Set the country of an employee as 'India' in the given employee record</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary**

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [139]:
emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record.update({'Country':'India'})
print(emp_record)

{'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA', 'Country': 'India'}

In [140]:
# type your code here

emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

 

# set a key 'Country' with default value 'India'

emp_record.setdefault('Country', 'India')

 

emp_record

{'Emp_ID': 'ES001',
 'Weight': 67,
 'BMI': 25,
 'Age': 27,
 'Profession': 'CA',
 'Country': 'India'}

<a id="cond"> </a>
## 7. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26.. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [141]:
# consider a number

number = 28

 

# pass condition to 'if' statement

if number%7== 0:

    print(number, "is a multiple of 7.")

28 is a multiple of 7.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [142]:
# consider the numbers

x = 55

y = 71

 

# pass condition to 'if' statement

if (x < y):

    print('y =' +' '+ str(y)  +' '+ 'is the maximum number')

else:

    print('x =' +' '+ str(x)  +' '+ 'is the maximum number')

y = 71 is the maximum number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [143]:
# consider a number

number = 45

 

# pass condition to 'if' statement

if number == 0:

    print("Number is zero")

    

# pass condition to 'elif' statement

elif number > 0:

    print("Number is positive")                  

else:

    print("Number is negative")

Number is positive